body {
    background: #ffec84;
    padding-bottom: 68px;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    box-sizing: content-box;
}

.company {
    &__box {
        background: #fff;
        padding: 0 10px;
        border-radius: 5px;
    }

    &__detail-link {
        padding-bottom: 20px;
        display: block;

        &:not(:last-of-type) {
            border-bottom: 1px solid #37b2f4;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        padding: 20px 0 10px;
    }

    &__status {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    &__hitokoto {
        font-size: 12px;
        color: #4b4b4b;
    }

    &__name {
        font-size: 16px;
        font-family: UD Shin Maru Go Bold;
        font-weight: bold;
        margin-top: 5px;
        color: #4b4b4b;
    }

    &__list {
        padding-top: 10px;
        &--top {
            display: flex;
            align-items: center;
        }

        &:first-of-type {
            padding-top: 0;
        }
    }

    &__ttl {
        padding: 5px;
        background: #ffec84;
        color: #4b4b4b;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 12px;
    }

    &__txt {
        color: #4b4b4b;
        font-size: 12px;
    }
}

.add-company {
    position: fixed;
    bottom: 68px;
    right: 10px;

    &__button {
        display: inline-block;
    }
}

.bottom-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    text-align: center;

    &--now {
        width: 50%;
        background: #37b2f4;
    }

    &--notnow {
        width: 50%;
        background: #fff;
    }

    &__link {
        display: block;
        padding: 21px 0;
        font-size: 16px;
        font-family: UD Shin Maru Go DemiBold;
        font-weight: bold;

        &--now {
            color: #fff;
        }

        &--notnow {
            color: #37b2f4;
        }
    }
}

.top-button {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin-top: 35px;

    &__link {
        font-size: 20px;
        font-family: UD Shin Maru Go DemiBold;
        font-weight: bold;
        color: #4b4b4b;
        padding: 20px 0;
        display: block;
    }
}

.no-data {
    padding: 20px 0;

    &__item {
        text-align: center;

        &--txt {
            font-size: 16px;
            color: #4b4b4b;
        }

        &--link {
            display: block;
        }

        &--left {
            text-align: left;
        }
    }

    &__link {
        display: inline-block;
        padding: 20px 50px;
        margin-top: 20px;
        border-radius: 5px;
        background: #37b2f4;
        color: #fff;
        font-family: UD Shin Maru Go DemiBold;
        font-weight: bold;
    }
}
