@import '_top.scss';
@import '_detail.scss';
@import '_add.scss';

body {
    font-family: UD Shin Maru Go Regular;
}

input,
option,
select {
    font-family: UD Shin Maru Go Regular;
}

input[type='submit'],
input[type='button'] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    &::-webkit-search-decoration {
        display: none;
    }
    &::focus {
        outline-offset: -2px;
    }
}
