body {
  background: #ffec84;
  padding-bottom: 68px;
}

.wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  box-sizing: content-box;
}

.company__box {
  background: #fff;
  padding: 0 10px;
  border-radius: 5px;
}
.company__detail-link {
  padding-bottom: 20px;
  display: block;
}
.company__detail-link:not(:last-of-type) {
  border-bottom: 1px solid #37b2f4;
}
.company__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 20px 0 10px;
}
.company__status {
  margin-right: 10px;
}
.company__hitokoto {
  font-size: 12px;
  color: #4b4b4b;
}
.company__name {
  font-size: 16px;
  font-family: UD Shin Go Bold;
  font-weight: bold;
  margin-top: 5px;
  color: #4b4b4b;
}
.company__list {
  padding-top: 10px;
}
.company__list--top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.company__list:first-of-type {
  padding-top: 0;
}
.company__ttl {
  padding: 5px;
  background: #ffec84;
  color: #4b4b4b;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}
.company__txt {
  color: #4b4b4b;
  font-size: 12px;
}

.add-company {
  position: fixed;
  bottom: 68px;
  right: 10px;
}
.add-company__button {
  display: inline-block;
}

.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  width: 100%;
  text-align: center;
}
.bottom-btn--now {
  width: 50%;
  background: #37b2f4;
}
.bottom-btn--notnow {
  width: 50%;
  background: #fff;
}
.bottom-btn__link {
  display: block;
  padding: 21px 0;
  font-size: 16px;
  font-family: UD Shin Go DemiBold;
  font-weight: bold;
}
.bottom-btn__link--now {
  color: #fff;
}
.bottom-btn__link--notnow {
  color: #37b2f4;
}

.top-button {
  text-align: center;
  background: #fff;
  border-radius: 5px;
  margin-top: 35px;
}
.top-button__link {
  font-size: 20px;
  font-family: UD Shin Go DemiBold;
  font-weight: bold;
  color: #4b4b4b;
  padding: 20px 0;
  display: block;
}

.no-data {
  padding: 20px 0;
}
.no-data__item {
  text-align: center;
}
.no-data__item--txt {
  font-size: 16px;
  color: #4b4b4b;
}
.no-data__item--link {
  display: block;
}
.no-data__item--left {
  text-align: left;
}
.no-data__link {
  display: inline-block;
  padding: 20px 50px;
  margin-top: 20px;
  border-radius: 5px;
  background: #37b2f4;
  color: #fff;
  font-family: UD Shin Go Bold;
  font-weight: bold;
}

.page-top {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.page-top__ttl {
  font-size: 16px;
  font-family: UD Shin Go DemiBold;
  font-weight: bold;
  color: #37b2f4;
}
.page-top__company-name {
  font-size: 24px;
  font-family: UD Shin Go DemiBold;
  font-weight: bold;
  color: #37b2f4;
  margin-top: 5px;
}

.info-box__ttls {
  background: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.info-box__ttl {
  font-size: 24px;
  color: #37b2f4;
  font-family: UD Shin Go DemiBold;
  font-weight: bold;
}
.info-box__contents {
  background: #fff;
  padding: 0 10px 10px;
  border-radius: 0 0 5px 5px;
}

.detail__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.detail__status {
  margin-right: 10px;
}
.detail__hitokoto {
  font-size: 12px;
  color: #4b4b4b;
}
.detail__name {
  font-size: 16px;
  font-family: UD Shin Go Bold;
  font-weight: bold;
  margin-top: 5px;
  color: #4b4b4b;
}
.detail__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 10px;
}
.detail__ttl {
  display: inline-block;
  padding: 5px;
  background: #ffec84;
  color: #4b4b4b;
  border-radius: 5px;
  font-size: 12px;
}
.detail__item {
  padding-top: 5px;
  color: #4b4b4b;
  font-size: 16px;
}
.detail__link {
  text-decoration: underline;
  color: #4b4b4b;
}

.company__box--add {
  padding-bottom: 10px;
}

.add-input {
  width: 100%;
  font-size: 16px;
  padding: 0 0 5px 5px;
  border: none;
  border-bottom: 1px solid #4b4b4b;
}
.add-input:focus {
  outline: 0;
  border-bottom: 1px solid #37b2f4;
}

select {
  width: 100%;
  padding: 0 0 5px 5px;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
}

.select-box {
  border-bottom: 1px solid #4b4b4b;
  position: relative;
}
.select-box::after {
  content: "";
  background-image: url("../image/select_triangle.svg");
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 8px;
  background-size: contain;
  vertical-align: middle;
}

.detail__error {
  font-size: 12px;
  color: red;
  padding-top: 5px;
}
.detail__item--send {
  margin-top: 20px;
  text-align: center;
}

.submit-button__add {
  padding: 15px 60px;
  font-size: 16px;
  background: #37b2f4;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  font-family: UD Shin Go Regular;
}

img {
  font-family: UD Shin Go DemiBold;
}